name: Develop Workflow

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 7.0.x
      - name: Cache NuGet packages
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj*') }}
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release -v n
      - name: Test
        run: |
          dotnet test -c Release --no-build -v n --filter="Category=Unit"
          mkdir coverage-report
      - name: Code Coverage Summary Report For Merge Request
        if: github.event_name == 'pull_request'
        uses: 5monkeys/cobertura-action@master
        with:
          path: ./Interpreter.Tests/coverage.cobertura.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 20
          fail_below_threshold: true
          show_class_names: true
          show_missing: true
          link_missing_lines: true
          show_branch: true
          only_changed_files: true
      - name: Code Coverage Summary Report For Master
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: ./Interpreter.Tests/coverage.cobertura.xml
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: true
          hide_complexity: true
          thresholds: '80 100'
      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.2.1
        with:
          reports: './Interpreter.Tests/coverage.cobertura.xml' 
          targetdir: './coverage-report' 
      - name: Upload coverage report artifact
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: CoverageReport   
          path: coverage-report
